<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up For Beta Form</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}js/jquery-1.12.0.js" ></script>
  </head>
  <body>
    <div class="personali" >
      <div class="header">
         <p>your identity</p>
      </div>
      <div class="description">
        <p>add in some details about your self</p>
        <p>your information is revealed in waves</p>
      </div>
      <div class="input">
        <p>Wave 1: Anonymous name and area code</p>
        <input type="text" class="button" id="email" name="nochandle" placeholder="meme_lorde">
        <input type="text" class="button" id="email" name="areacode" placeholder="408">
        <p>Wave 2: Doctor's Details</p>
        <input type="text" class="button" id="email" name="tidbit" placeholder="I like to think in my room alone while listening to alternative rock because my stupid parents.">
        <input type="text" class="button" id="email" name="gender" placeholder="Male">
        <input type="text" class="button" id="email" name="age" placeholder="21">
        <p>Wave 3: Random trivia</p>
        <input type="text" class="button" id="email" name="prezi" placeholder="Trump">
        <P>Final Wave: Social handles</p>
        <input type="text" class="button" id="email" name="twitter" placeholder="@mikezuccarino">
        <input type="text" class="button" id="email" name="fb" placeholder="https://www.facebook.com/zuccarino">
        <input type="text" class="button" id="email" name="instag" placeholder="@hempaw2">
        <input type="text" class="button" id="email" name="snapc" placeholder="bootysnatcher22">
        
        <input type="submit" class="button" id="submit" value="im ready">
      </div>
    </div>
  </body>

  <script>

  </script>
</html>