<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up For Beta Form</title>
    <!--<link href="{{ STATIC_URL }}css/talk.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}js/jquery-1.12.0.js" ></script>
  </head>
  <body>
    <div class="personali" >
      <div class="header">
         <p>your identity</p>
      </div>
      <div class="description">
        <p>add in some details about your self</p>
        <p>your information is revealed in waves</p>
      </div>
      <div class="input">
        <p>Wave 1: Anonymous name and area code</p>
        <input type="text" class="button" id="nochandle" placeholder="username" value="">
        <input type="text" class="button" id="areacode" placeholder="areacode" value="">
        <p>Wave 2: ASL</p>
        <input type="text" class="button" id="tidbit" placeholder="Angsty Bio" value="">
        <input type="text" class="button" id="gender" placeholder="Gender" value="">
        <input type="text" class="button" id="age" placeholder="Age" value="">
        <input type="text" class="button" id="college" placeholder="University" value="">
        <p>Wave 3: Random trivia</p>
        <input type="text" class="button" id="prezi" placeholder="Presidential Favorite" value="">
        <P>Final Wave: Social handles</p>
        <input type="text" class="button" id="twitter" placeholder="Twitter" value="">
        <input type="text" class="button" id="fb" placeholder="Facebook link" value="">
        <input type="text" class="button" id="instag" placeholder="Instagram" value="">
        <input type="text" class="button" id="snapc" placeholder="Snapchat" value="">
        
        <input type="submit" class="button" id="submit" value="yes im ready">
      </div>
    </div>
  </body>

  <script>
  $(document).ready(function () {

    $('#submit').click(function () {
      if ($('#nochandle').val() === "") {
        alert("At least need a username lad");
        return;
      }
        var payload = {'nochandle':$('#nochandle').val(),
                     'areacode':$('#areacode').val(),
                     'tidbit':$('#tidbit').val(),
                     'gender':$('#gender').val(),
                     'age':$('#age').val(),
                     'college':$('#college').val(),
                     'prezi':$('#prezi').val(),
                     'twitterh':$('#twitter').val(),
                     'fbh':$('#fb').val(),
                     'instagh':$('#instag').val(),
                     'snapch':$('#snapc').val(),
                      "csrfmiddlewaretoken": "{{ csrf_token }}" }
        console.log(payload);
        $.ajax({
              type: "POST",
              url: "/reg/",
              data: payload
            }).done(function( msg ) {
              console.log(msg);
              if (msg == "success")
              {
                  window.location.href = "/casa/";
              } else {
                alert(msg);
              }
            });
    });
  });
  </script>
</html>