<html>
  <head>
    <meta charset="utf-8">
    <title>NocTalk</title>
    <!--<link href="{{ STATIC_URL }}css/talk.css" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/talk.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}js/jquery-1.12.0.js" ></script>
    <script src="https://cdn.socket.io/socket.io-1.4.3.js"></script>
  </head>
  <body>
    <div class="chatpar" >
      <div class="slackbar">
        <div id="note">

        </div>
        <div class="dropDown" id="dojoDropdown">NocTalk</div>
        <div class="slackrow" noch="everybody" id="everybodychat">
            <!--<div class="dojoTitle" onclick="return loadDojo('{{ Dojo.dojohash }}','{{ Dojo.dojoName }}');">everybody</div>-->
            <div class="dojoTitle">everybody</div>
        </div>
    </div>
    <div id="messageFrame">
        <div class="onlineList" style="display:block; border-bottom:1px solid #b6b6b6; border-top:1px solid #b6b6b6; padding-bottom:0px;">
            
        </div>
        <div class="tab-content">
          
        </div>
        <div class="typingListDiv">

        </div>
        <div class="inputArea">
            <textarea id="m" cols="50" rows="3"></textarea><button class="messageSender">Send That Shit</button>
        </div>
    </div>
    </div>
    <!-- HIDDEN / POP-UP DIV -->
    <div id="pop-up">
      
    </div>
  </body>

  <script>
    $(document).ready(function () {

      var moveLeft = 20;
      var moveDown = 10;

      var selectedchat = "everybody";
      var username = "{{nochandle}}";
      $('.slackrow').mouseover(function () {
            $('.slackrow').removeClass('slackhover');
            $(this).addClass('slackhover');
        }).mouseleave(function () {
            $('.slackrow').removeClass('slackhover');
        });
        $('.slackrow').click(function () {
             $('.slackrow').removeClass('selected');
             $(this).addClass('selected');
             $(this).removeClass('notification');

             var noch = $(this).attr('noch');
             selectedchat = noch;
             if ($('#' + noch + 'chatwin').length){
                  // exists
                  $(".chatwin").hide();
                  $("#" + noch + 'chatwin').show();

                  $('.typinginnerthang').hide();
                  $('#' + selectedchat + 'typediv').show();
              }
              else
              {
                 $(".chatwin").hide();
                  var $chatwin = $('<div class="chatwin" noch="' + noch +'" id="' + noch + 'chatwin" style=""><h1 id="' + noch+ 'h1">' + noch +'</h1></div>');
                  $('.tab-content').append($chatwin);

                  $(".typinginnerthang").hide();
                  var $typingDiv = $('<div class="typinginnerthang" id="' + selectedchat + 'typediv" style=""></div>');
                  $('.typingListDiv').append($typingDiv);
              }

          });
        $('#m').keydown(function (event) {
              if (event.keyCode == 13) {
                  // $('.messageSender').trigger('click');
                  var $chatElement = $('<div noc="' + username + '"><a class="chatFullname">' + username + ':</a> <a class="chatPayload">' + $('#m').val() + '</a><br /></div>');
                  if (selectedchat !== "everybody")
                  {
                    $('#' + selectedchat + 'chatwin').append($chatElement);
                  }
                  socket.emit('chat sent', { noc: username, target: selectedchat, fullname:username, message:$('#m').val() });
                  $('#m').val('');
                  $('#' + selectedchat + 'chatwin').scrollTop($('#' + selectedchat + 'chatwin')[0].scrollHeight);
                  console.log("send message to: " + selectedchat);
                  $chatElement.hover(function(e) {
                    $('div#pop-up').show();
                    console.log("memes");
                    var payload = {"noc":$(this).attr('noc'), "csrfmiddlewaretoken": "{{ csrf_token }}" };
                    console.log(payload);
                    $.ajax({
                          type: "POST",
                          url: "/user/",
                          data: payload
                        }).done(function( msg ) {
                          console.log(msg);
                          $("#pop-up").empty();
                          $("#pop-up").append($('<h2>~basic~</h2>'));
                          $("#pop-up").append($('<a>noc:</a><a>' + msg['nochandle'] + '</a><br>'));
                          $("#pop-up").append($('<a>areacode:</a><a>' + msg['areacode'] + '</a><br>'));
                          $("#pop-up").append($('<h2>~@11p~</h2>'));
                          $("#pop-up").append($('<a>tidbit:</a><a>' + msg['tidbit'] + '</a><br>'));
                          $("#pop-up").append($('<a>gender:</a><a>' + msg['gender'] + '</a><br>'));
                          $("#pop-up").append($('<a>age:</a><a>' + msg['age'] + '</a><br>'));
                          $("#pop-up").append($('<h2>~@midnite~</h2>'));
                          $("#pop-up").append($('<a>prezi:</a><a>' + msg['prezi'] + '</a><br>'));
                          $("#pop-up").append($('<h2>~@1a~</h2>'));
                          $("#pop-up").append($('<a>twitterh:</a><a>' + msg['twitterh'] + '</a><br>'));
                          $("#pop-up").append($('<a>fbh:</a><a>' + msg['fbh'] + '</a><br>'));
                          $("#pop-up").append($('<a>instagh:</a><a>' + msg['instagh'] + '</a><br>'));
                          $("#pop-up").append($('<a>snapch:</a><a>' + msg['snapch'] + '</a><br>'));
                        });

                  }, function() {
                    $('div#pop-up').hide();
                  });

                  $chatElement.mousemove(function(e) {
                    $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
                  });

                  $chatElement.click(function(e) {
                    console.log("clicked " + $("#" + $(this).attr('noc')));

                    if ($(this).attr('noc') == username) return;
                    if ($("#" + $(this).attr('noc') + 'chat').length)
                    {
                        $("#" + $(this).attr('noc') + 'chat').trigger('click');
                    }
                    else
                    {
                        var $chatbar = $('<div class="slackrow" noch="' + $(this).attr('noc') + '" id="' + $(this).attr('noc') + 'chat"><div class="dojoTitle">' + $(this).attr('noc') + '</div></div>');
                        $(".slackbar").append($chatbar);
                        $('.slackrow').mouseover(function () {
                            $('.slackrow').removeClass('slackhover');
                            $(this).addClass('slackhover');
                        }).mouseleave(function () {
                            $('.slackrow').removeClass('slackhover');
                        });
                        $chatbar.click(function () {
                             $('.slackrow').removeClass('selected');
                             $(this).addClass('selected');
                             $(this).removeClass('notification');

                             var noch = $(this).attr('noch');
                             selectedchat = noch;
                             console.log('selected chat: ' + selectedchat);
                             if ($('#' + noch + 'chatwin').length){
                                  // exists
                                  $(".chatwin").hide();
                                  $("#" + noch + 'chatwin').show();

                                  $('.typinginnerthang').hide();
                                  $('#' + selectedchat + 'typediv').show();
                              }
                              else
                              {
                                 $(".chatwin").hide();
                                  var $chatwin = $('<div class="chatwin" noch="' + noch +'" id="' + noch + 'chatwin" style=""><h1 id="' + noch+ 'h1">' + noch +'</h1></div>');
                                  $('.tab-content').append($chatwin);

                                  $('.typinginnerthang').hide();
                                  var $typingDiv = $('<div class="typinginnerthang" id="' + selectedchat + 'typediv" style=""></div>');
                                  $('.typingListDiv').append($typingDiv);
                              }

                          });
                        $chatbar.trigger('click');
                    }
                  });
                  return false;
              }
          });


        var socket = io('54.67.61.187:3000');
        socket.on('initializeConnect', function (data) {
            console.log(data['welcome'] + ', ' + data['numUsers']);
            socket.emit('handshakeauth', { nochandle: username, fullname: username });
        });
        socket.on('user connected', function (data) {
            console.log(data['fullname'] + ' is online!');
            var $notiSquaw = $('<p>' + data['fullname'] + ' is online!' + '</p>').delay(1000).fadeOut();
            // $('#note').append($notiSquaw);
        });
        socket.on('handshakecomplete', function (data) {
            console.log('auth status is ' + data['success']);
            // socket.emit('dojo sync', { dojo: url });
            $('#everybodychat').trigger('click');
        });
        socket.on('noclist update', function (data) {
            var usersList = data['listOfUsers'];
            console.log(usersList);
            var isEmpty = 1;
            var numOfPeeps = 0;
            $('.onlineList').empty();
            for (var key in usersList) {
                if (usersList.hasOwnProperty(key)) {
                    isEmpty = 0;
                    numOfPeeps++;
                    console.log("dank tits: " + usersList[key]);
                    var $chatElement = $('<a class="particulars" noc="' + key + '" style="color:#57bdfe;">' + ((numOfPeeps > 1) ? ', ' : '') + usersList[key]['fullname'] + '</a>');
                    $chatElement.hover(function(e) {
                      $('div#pop-up').show();
                      console.log("memes");
                      var payload = {"noc":$(this).attr('noc'), "csrfmiddlewaretoken": "{{ csrf_token }}" };
                      console.log(payload);
                      $.ajax({
                            type: "POST",
                            url: "/user/",
                            data: payload
                          }).done(function( msg ) {
                            console.log(msg);
                            $("#pop-up").empty();
                            $("#pop-up").append($('<h2>~basic~</h2>'));
                            $("#pop-up").append($('<a>noc:</a><a>' + msg['nochandle'] + '</a><br>'));
                            $("#pop-up").append($('<a>areacode:</a><a>' + msg['areacode'] + '</a><br>'));
                            $("#pop-up").append($('<h2>~@11p~</h2>'));
                            $("#pop-up").append($('<a>tidbit:</a><a>' + msg['tidbit'] + '</a><br>'));
                            $("#pop-up").append($('<a>gender:</a><a>' + msg['gender'] + '</a><br>'));
                            $("#pop-up").append($('<a>age:</a><a>' + msg['age'] + '</a><br>'));
                            $("#pop-up").append($('<h2>~@midnite~</h2>'));
                            $("#pop-up").append($('<a>prezi:</a><a>' + msg['prezi'] + '</a><br>'));
                            $("#pop-up").append($('<h2>~@1a~</h2>'));
                            $("#pop-up").append($('<a>twitterh:</a><a>' + msg['twitterh'] + '</a><br>'));
                            $("#pop-up").append($('<a>fbh:</a><a>' + msg['fbh'] + '</a><br>'));
                            $("#pop-up").append($('<a>instagh:</a><a>' + msg['instagh'] + '</a><br>'));
                            $("#pop-up").append($('<a>snapch:</a><a>' + msg['snapch'] + '</a><br>'));
                          });

                    }, function() {
                      $('div#pop-up').hide();
                    });

                    $chatElement.mousemove(function(e) {
                      $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
                    });

                    $chatElement.click(function(e) {
                      console.log("clicked " + $("#" + $(this).attr('noc')));
                      if ($(this).attr('noc') == username) return;
                      if ($("#" + $(this).attr('noc') + 'chat').length)
                      {
                          $("#" + $(this).attr('noc') + 'chat').trigger('click');
                      }
                      else
                      {
                          var $chatbar = $('<div class="slackrow" noch="' + $(this).attr('noc') + '" id="' + $(this).attr('noc') + 'chat"><div class="dojoTitle">' + $(this).attr('noc') + '</div></div>');
                          $(".slackbar").append($chatbar);
                          $('.slackrow').mouseover(function () {
                              $('.slackrow').removeClass('slackhover');
                              $(this).addClass('slackhover');
                          }).mouseleave(function () {
                              $('.slackrow').removeClass('slackhover');
                          });
                          $chatbar.click(function () {
                               $('.slackrow').removeClass('selected');
                               $(this).addClass('selected');
                               $(this).removeClass('notification');

                               var noch = $(this).attr('noch');
                               selectedchat = noch;
                               console.log('selected chat: ' + selectedchat);
                               if ($('#' + noch + 'chatwin').length){
                                    // exists
                                    $(".chatwin").hide();
                                    $("#" + noch + 'chatwin').show();

                                    $('.typinginnerthang').hide();
                                    $('#' + selectedchat + 'typediv').show();
                                }
                                else
                                {
                                   $(".chatwin").hide();
                                    var $chatwin = $('<div class="chatwin" noch="' + noch +'" id="' + noch + 'chatwin" style=""><h1 id="' + noch+ 'h1">' + noch +'</h1></div>');
                                    $('.tab-content').append($chatwin);

                                    $('.typinginnerthang').hide();
                                    var $typingDiv = $('<div class="typinginnerthang" id="' + selectedchat + 'typediv" style=""></div>');
                                    $('.typingListDiv').append($typingDiv);
                                }

                            });
                          $chatbar.trigger('click');
                      }
                    });
                    $('.onlineList').append($chatElement);
                }
            }
            if (!isEmpty)
            {
                if (numOfPeeps == 1)
                {
                    var $chatElement = $('<a> no one else is online. get some friends on! </a>');
                    $('.onlineList').append($chatElement);
                }
                else
                {
                    var $chatElement = $('<a> is online (' + numOfPeeps + ')</a>');
                    $('.onlineList').append($chatElement);
                }
                
            }
            else
            {
                var $chatElement = $('<a> no one else is online. get some friends on! </a>');
                $('.onlineList').append($chatElement);
            }
        });
        socket.on('chat incoming', function (chatData) {
            console.log("chat received from " + chatData['fullname'] + ' to: ' + chatData['target']);
            console.log(chatData);
            var $chatElement = $('<div noc="' + chatData['noc'] + '"><a class="chatFullname">' + chatData['fullname'] + ':</a> <a class="chatPayload">' + chatData['message'] + '</a><br /></div>');
            // if (chatData['noc']  !== username)
            // {
            //     $('#' + chatData['target'] + 'chatwin').append($chatElement);
            // }
            // target == select only when its everybody
            console.log("flagging notification for " + chatData['noc']);
            if (chatData['target'] === "everybody") {
              $('#everybodychatwin').append($chatElement);
              $('#everybodychat').addClass('notification');
              $('#everybodychat').fadeIn(100).fadeOut(100).fadeIn();
            }
            else
            {
              if ($('#' + chatData['noc'] + 'chatwin').length) {
                // alert("message from " + chatData['noc']);
              }
              else
              {
                var $chatbar = $('<div class="slackrow" noch="' + chatData['noc'] + '" id="' + chatData['noc'] + 'chat"><div class="dojoTitle">' + chatData['noc'] + '</div></div>');
                $(".slackbar").append($chatbar);
                $chatbar.mouseover(function () {
                    $('.slackrow').removeClass('slackhover');
                    $(this).addClass('slackhover');
                }).mouseleave(function () {
                    $('.slackrow').removeClass('slackhover');
                });
                $chatbar.click(function () {
                     $('.slackrow').removeClass('selected');
                     $(this).addClass('selected');
                     $(this).removeClass('notification');

                     var noch = $(this).attr('noch');
                     selectedchat = noch;
                     console.log('selected chat: ' + selectedchat);
                     if ($('#' + noch + 'chatwin').length){
                          // exists
                          $(".chatwin").hide();
                          $("#" + noch + 'chatwin').show();

                          $('.typinginnerthang').hide();
                          $('#' + selectedchat + 'typediv').show();
                      }
                      else
                      {
                         $(".chatwin").hide();
                          var $chatwin = $('<div class="chatwin" noch="' + noch +'" id="' + noch + 'chatwin" style=""><h1 id="' + noch+ 'h1">' + noch +'</h1></div>');
                          $('.tab-content').append($chatwin);

                          $('.typinginnerthang').hide();
                          var $typingDiv = $('<div class="typinginnerthang" id="' + selectedchat + 'typediv" style=""></div>');
                          $('.typingListDiv').append($typingDiv);
                      }
                  });
                  // var $chatwin = $('<div class="chatwin" noch="' + chatData['noc'] +'" id="' + chatData['noc'] + 'chatwin" style="display:none;"><h1 id="' + chatData['noc'] + 'h1">' + chatData['noc'] +'</h1></div>');
                  // $('.tab-content').append($chatwin);

                  // var $typingDiv = $('<div class"typinginnerdiv" id="' + selectedchat + 'typediv" style="display:none;"></div>');
                  // $('.typingListDiv').append($typingDiv);
                  $chatbar.trigger('click');
              }
              if (chatData['noc'] !== selectedchat)
              {
                $('#' + chatData['noc'] + 'chat').addClass('notification');
                $('#' + chatData['noc'] + 'chat').fadeIn(100).fadeOut(100).fadeIn();
              }
              if (chatData['target'] !== "everybody")
              {
                $('#' + chatData['noc'] + 'chatwin').append($chatElement);
              }
              // if ($('#' + chatData['noc'] + 'chatwin').length) 
              // {
              //   console.log("chat window exists for " + chatData['noc']);
              // }
              // else
              // {
              //   console.log("chat NOT window exists for " + chatData['noc']);
              // }
            } 
            $chatElement.hover(function(e) {
              $('div#pop-up').show();
              console.log("memes");
              var payload = {"noc":$(this).attr('noc'), "csrfmiddlewaretoken": "{{ csrf_token }}" };
              console.log(payload);
              $.ajax({
                    type: "POST",
                    url: "/user/",
                    data: payload
                  }).done(function( msg ) {
                    console.log(msg);
                    $("#pop-up").empty();
                    $("#pop-up").append($('<h2>~basic~</h2>'));
                    $("#pop-up").append($('<a>noc:</a><a>' + msg['nochandle'] + '</a><br>'));
                    $("#pop-up").append($('<a>areacode:</a><a>' + msg['areacode'] + '</a><br>'));
                    $("#pop-up").append($('<h2>~@11p~</h2>'));
                    $("#pop-up").append($('<a>tidbit:</a><a>' + msg['tidbit'] + '</a><br>'));
                    $("#pop-up").append($('<a>gender:</a><a>' + msg['gender'] + '</a><br>'));
                    $("#pop-up").append($('<a>age:</a><a>' + msg['age'] + '</a><br>'));
                    $("#pop-up").append($('<h2>~@midnite~</h2>'));
                    $("#pop-up").append($('<a>prezi:</a><a>' + msg['prezi'] + '</a><br>'));
                    $("#pop-up").append($('<h2>~@1a~</h2>'));
                    $("#pop-up").append($('<a>twitterh:</a><a>' + msg['twitterh'] + '</a><br>'));
                    $("#pop-up").append($('<a>fbh:</a><a>' + msg['fbh'] + '</a><br>'));
                    $("#pop-up").append($('<a>instagh:</a><a>' + msg['instagh'] + '</a><br>'));
                    $("#pop-up").append($('<a>snapch:</a><a>' + msg['snapch'] + '</a><br>'));
                  });

            }, function() {
              $('div#pop-up').hide();
            });

            $chatElement.mousemove(function(e) {
              $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
            });

            $chatElement.click(function(e) {
              console.log("clicked " + $("#" + $(this).attr('noc')));
              if ($(this).attr('noc') == username) return;
              if ($("#" + $(this).attr('noc') + 'chat').length)
              {
                  $("#" + $(this).attr('noc') + 'chat').trigger('click');
              }
              else
              {
                  var $chatbar = $('<div class="slackrow" noch="' + $(this).attr('noc') + '" id="' + $(this).attr('noc') + 'chat"><div class="dojoTitle">' + $(this).attr('noc') + '</div></div>');
                  $(".slackbar").append($chatbar);
                  $('.slackrow').mouseover(function () {
                      $('.slackrow').removeClass('slackhover');
                      $(this).addClass('slackhover');
                  }).mouseleave(function () {
                      $('.slackrow').removeClass('slackhover');
                  });
                  $chatbar.click(function () {
                       $('.slackrow').removeClass('selected');
                       $(this).addClass('selected');
                       $(this).removeClass('notification');

                       var noch = $(this).attr('noch');
                       selectedchat = noch;
                       console.log('selected chat: ' + selectedchat);
                       if ($('#' + noch + 'chatwin').length){
                            // exists
                            $(".chatwin").hide();
                            $("#" + noch + 'chatwin').show();

                            $('.typinginnerthang').hide();
                            $('#' + selectedchat + 'typediv').show();
                        }
                        else
                        {
                           $(".chatwin").hide();
                            var $chatwin = $('<div class="chatwin" noch="' + noch +'" id="' + noch + 'chatwin" style=""><h1 id="' + noch+ 'h1">' + noch +'</h1></div>');
                            $('.tab-content').append($chatwin);

                            $('.typinginnerthang').hide();
                            var $typingDiv = $('<div class="typinginnerthang" id="' + selectedchat + 'typediv" style=""></div>');
                            $('.typingListDiv').append($typingDiv);
                        }

                    });
                  $chatbar.trigger('click');
              }
            });
        });
        var timerid;
        var waitingForClear = 0;
        $("#m").on("input", function (e) {
            if (selectedchat == "") return;
            var value = $(this).val();

            if (value.length > 7)
            {
                socket.emit('noc typing event', { noc: username, chat: selectedchat, fullname: username, message:value.substring(value.length - 7, value.length) });
            }
            else if (value.length <= 7 && value.length > 0)
            {
                socket.emit('noc typing event', { noc: username, chat: selectedchat, fullname: username, message:value.substring(0, value.length) });
            }
            else
            {
                socket.emit('noc typing event', { noc: username, chat: selectedchat, fullname: username, message:"" });
            }

            if ($(this).val() === "")
            {
                if (waitingForClear)
                {
                    waitingForClear = 0;
                    // socket.emit('noc typing event', { noc: username, chat: selectedchat, fullname: username, message:value });
                }
            }
            if ($(this).val().length > 0) {
                if (!waitingForClear)
                {
                    waitingForClear = 1;
                    // socket.emit('noc typing event', { noc: username, chat: selectedchat, fullname: username, message:value });
                }
            }
            if ($(this).data("lastval") != value) {
                $(this).data("lastval", value);
                /*
                clearTimeout(timerid);
                timerid = setTimeout(function () {
                    if ($("#m").val() === "")
                    {
                        socket.emit('user typing stop', { user: '{{username}}', dojo: selectedDojo, fullname: '{{fullname}}' });
                    }
                    else
                    {
                        socket.emit('user typing active', { user: '{{username}}', dojo: selectedDojo, fullname: '{{fullname}}' });
                    }
                }, 500);
                */
            };
        }); 
        socket.on('noc typing eventbrc', function (data) {
          console.log( data['noc'] + ' >> ' + data['chat'] + '  >>  ' + data['message'] );
           var $chatElement = $('<div noc="' + data['noc'] + '" id="' + data['noc'] + 'type"><a id="' + data['noc'] + selectedchat + 'type" class="chatFullname">' + data['noc'] + ':</a> <a class="chatPayload">' + data['message'] + '</a><br /></div>');
           if (data['chat'] === "everybody")
           {
              if ($('#everybodytypediv').find( '#' + data['noc'] + 'type' ).length)
              {
                $('#everybodytypediv').find( '#' + data['noc'] + 'type' ).remove();
              }
              $('#everybodytypediv').append($chatElement);
           }
           else
           {
              if ($('#' + data['noc'] +'typediv').find( '#' + data['noc'] + 'type' ).length)
              {
                console.log("found type div: " + '#' + data['noc'] + 'type');
                $('#' + data['noc'] +'typediv').find( '#' + data['noc'] + 'type' ).remove();
              }
              else
              {
                console.log("could not find type div: " + '#' + data['noc'] + 'type');
              }
              $('#' + data['noc'] +'typediv').append($chatElement);
           }
           $chatElement.hover(function(e) {
              $('div#pop-up').show();
              console.log("memes");
              var payload = {"noc":$(this).attr('noc'), "csrfmiddlewaretoken": "{{ csrf_token }}" };
              console.log(payload);
              $.ajax({
                    type: "POST",
                    url: "/user/",
                    data: payload
                  }).done(function( msg ) {
                    console.log(msg);
                    //"nochandle":noc.nochandle, "areacode":noc.areacode, "tidbit":noc.tidbit, "gender":noc.gender, "age":noc.age, "prezi":noc.prezi, "twitterh":noc.twitterh, "fbh":noc.fbh, "instagh":noc.instagh, "snapch":noc.snapch
                    $("#pop-up").empty();
                    $("#pop-up").append($('<h2>~basic~</h2>'));
                    $("#pop-up").append($('<a>noc:</a><a>' + msg['nochandle'] + '</a><br>'));
                    $("#pop-up").append($('<a>areacode:</a><a>' + msg['areacode'] + '</a><br>'));
                    $("#pop-up").append($('<h2>~@11p~</h2>'));
                    $("#pop-up").append($('<a>tidbit:</a><a>' + msg['tidbit'] + '</a><br>'));
                    $("#pop-up").append($('<a>gender:</a><a>' + msg['gender'] + '</a><br>'));
                    $("#pop-up").append($('<a>age:</a><a>' + msg['age'] + '</a><br>'));
                    $("#pop-up").append($('<h2>~@midnite~</h2>'));
                    $("#pop-up").append($('<a>prezi:</a><a>' + msg['prezi'] + '</a><br>'));
                    $("#pop-up").append($('<h2>~@1a~</h2>'));
                    $("#pop-up").append($('<a>twitterh:</a><a>' + msg['twitterh'] + '</a><br>'));
                    $("#pop-up").append($('<a>fbh:</a><a>' + msg['fbh'] + '</a><br>'));
                    $("#pop-up").append($('<a>instagh:</a><a>' + msg['instagh'] + '</a><br>'));
                    $("#pop-up").append($('<a>snapch:</a><a>' + msg['snapch'] + '</a><br>'));
                  });

            }, function() {
              $('div#pop-up').hide();
            });

            $chatElement.mousemove(function(e) {
              $("div#pop-up").css('top', e.pageY + moveDown).css('left', e.pageX + moveLeft);
            });

            $chatElement.click(function(e) {
              console.log("clicked " + $("#" + $(this).attr('noc')));
              if ($(this).attr('noc') == username) return;
              if ($("#" + $(this).attr('noc') + 'chat').length)
              {
                  $("#" + $(this).attr('noc') + 'chat').trigger('click');
              }
              else
              {
                  var $chatbar = $('<div class="slackrow" noch="' + $(this).attr('noc') + '" id="' + $(this).attr('noc') + 'chat"><div class="dojoTitle">' + $(this).attr('noc') + '</div></div>');
                  $(".slackbar").append($chatbar);
                  $('.slackrow').mouseover(function () {
                      $('.slackrow').removeClass('slackhover');
                      $(this).addClass('slackhover');
                  }).mouseleave(function () {
                      $('.slackrow').removeClass('slackhover');
                  });
                  $chatbar.click(function () {
                       $('.slackrow').removeClass('selected');
                       $(this).addClass('selected');
                       $(this).removeClass('notification');

                       var noch = $(this).attr('noch');
                       selectedchat = noch;
                       console.log('selected chat: ' + selectedchat);
                       if ($('#' + noch + 'chatwin').length){
                            // exists
                            $(".chatwin").hide();
                            $("#" + noch + 'chatwin').show();

                            $('.typinginnerthang').hide();
                            $('#' + selectedchat + 'typediv').show();
                        }
                        else
                        {
                           $(".chatwin").hide();
                            var $chatwin = $('<div class="chatwin" noch="' + noch +'" id="' + noch + 'chatwin" style=""><h1 id="' + noch+ 'h1">' + noch +'</h1></div>');
                            $('.tab-content').append($chatwin);

                            $(".typinginnerthang").hide();
                            var $typingDiv = $('<div class="typinginnerthang" id="' + selectedchat + 'typediv" style=""></div>');
                            $('.typingListDiv').append($typingDiv);
                        }

                    });
                  $chatbar.trigger('click');
              }
            });
        });
    });
  </script>
</html>